*
  box-sizing: border-box
body 
  font-family: 'Mulish', sans-serif
  color: $text
  background: $bg
a 
  text-decoration: none
  color: inherit

.container
  max-width: 1110px
  margin: 0 auto
img
  max-width: 100%
button
  cursor: pointer

input, textarea
  outline: none
  transition: box-shadow 0.2s ease
  &:focus
    box-shadow: 0 0 7px $bg
    
      